src/main/java/study.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://bioinformatics.northwestern.edu/ns/psc/study.xsd"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:psc="http://bioinformatics.northwestern.edu/ns/psc/study.xsd"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:element name="study" type="psc:Study" />

    <xsd:complexType name="Study">
        <xsd:sequence>
            <xsd:element name="planned-calendar" type="psc:PlannedCalendar" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="amendment" type="psc:Amendment" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="PlannedCalendar" />

    <xsd:complexType name="Amendment">
        <xsd:sequence>
            <xsd:element name="delta" type="psc:Delta" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Delta">
        <xsd:sequence>
            <xsd:element name="add" type="psc:Add" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Add">
            <xsd:attribute name="id" type="xsd:string"/>
            <xsd:attribute name="assigned_identifier" type="xsd:integer"/>
            <xsd:attribute name="index" type="xsd:integer"/>
    </xsd:complexType>

</xsd:schema>