web/src/main/java/edu/northwestern/bioinformatics/studycalendar/restlets/psc.wadl

<?xml version="1.0"?>
<application xmlns="http://research.sun.com/wadl/2006/10"
             xmlns:psc="http://bioinformatics.northwestern.edu/ns/psc"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:html="http://www.w3.org/1999/xhtml"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="
                http://research.sun.com/wadl/2006/10 https://wadl.dev.java.net/wadl20061109.xsd
             "
             >

    <doc title="Patient Study Calendar RESTful API">
        <html:p class="main">
            The <html:acronym title="Representational State Transfer">REST</html:acronym> API allows
            you to programmatically create and update templates, schedules, and activities using
            PSC's XML format and the standard HTTP protocol.  For more information about the
            resource-oriented model, see
            <html:a href="http://en.wikipedia.org/wiki/REST">Wikipedia</html:a> (don't miss the
            list of links at the end of the article).  The book
            <html:a href="http://www.oreilly.com/catalog/9780596529260/">RESTful Web Services</html:a>
            also provides an excellent introduction.
        </html:p>

        <html:p class="main">
            The current machine readable
            (<html:acronym title="Web Application Description Language">WADL</html:acronym>)
            description of the API for this PSC instance will always be accessible from
            <html:a href="${baseUri}/docs/psc.wadl">${baseUri}/docs/psc.wadl</html:a>.
        </html:p>

        <html:p class="main">
            The human readable version of that description will be visible at
            <html:a href="${baseUri}/docs">${baseUri}/docs</html:a>.
            Please note that the <html:a href="${baseUri}/docs/psc.wadl">WADL</html:a>
            version contains more details than the human-readable version for some resources
            (particularly for x-www-form-encoded representations).  If you need more detail,
            please be sure to check the WADL directly.
        </html:p>

        <html:p class="main">
            Many of PSC's resources may be represented by multiple media types.  If you don't
            designate a particular media type when GETting the resource, PSC doesn't define which
            variant you'll get.  You can select the type you want either by using the HTTP-standard
            <a href="http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.1">Accept</a>
            header or by a file-like extension on the URI.  If you want to use the extension method,
            the extension mappings are below.  (The media types supported by a particular
            resource are listed along with the other details in the main body of this document.)
        </html:p>

        <html:table class="compare">
            <html:tr>
                <html:th class="row">MIME Type</html:th>
                <html:th>Extension</html:th>
            </html:tr>
            <html:tr>
                <html:th class="row">application/json</html:th>
                <html:td>json</html:td>
            </html:tr>
            <html:tr>
                <html:th class="row">text/calendar</html:th>
                <html:td>ics</html:td>
            </html:tr>
            <html:tr>
                <html:th class="row">text/xml</html:th>
                <html:td>xml</html:td>
            </html:tr>
        </html:table>

        <html:p class="main">
            Resources marked <html:em class="pending">Pending</html:em> are planned
            for a future release of PSC but are not yet implemented.
        </html:p>
        <html:p class="main">
            Resources marked <html:em class="pending">Deprecated</html:em> are planned
            to remove in a future release of PSC.
        </html:p>
    </doc>

    <grammars>
        <include href="${baseUri}/docs/psc.xsd"/>
    </grammars>

    <resources base="${baseUri}">
        <resource path="studies">
            <method name="GET">
                <doc>
                    <html:p>List all the studies for which the user is authorized.</html:p>
                    <html:div class="roles">
                        Authorized to:
                        <html:ul>
                            <html:li>Study QA Manager</html:li>
                            <html:li>Study Calendar Template Builder</html:li>
                            <html:li>Study Site Participation Administrator</html:li>
                            <html:li>Data Importer</html:li>
                            <html:li>Study Team Administrator</html:li>
                            <html:li>Study Creator</html:li>
                            <html:li>Study Subject Calendar Manager</html:li>
                            <html:li>Data Reader</html:li>
                        </html:ul>
                    </html:div>
                </doc>
                <response>
                    <representation href="#studies-xml"/>
                    <representation mediaType="application/json"/>
                </response>
            </method>
            <method name="POST">
                <doc>
                    <html:p>
                        Creates a new study in the system from the POSTed entity.
                        The new study will be "in design" -- i.e., the provided calendar
                        will be set as its development amendment, and it will not have any
                        released amendments.
                        If there is already a study with the given assigned identifier,
                        it will return HTTP 400.
                    </html:p>
                    <html:div class="roles">
                        Authorized to:
                        <html:ul>
                            <html:li>Study Calendar Template Builder</html:li>
                        </html:ul>
                    </html:div>
                   <html:p>
                        This method/resource is similar to PUT on <html:code>studies/{study-identifier}/template</html:code>.
                        However, they differ in several crucial ways.
                    </html:p>
                    <html:table class="compare">
                        <html:tr>
                            <html:th/>
                            <html:th>POST to <html:code>studies</html:code></html:th>
                            <html:th>PUT to <html:code>studies/{study-identifier}/template</html:code></html:th>
                        </html:tr>
                        <html:tr>
                            <html:th class="row">Create new study</html:th>
                            <html:td>Yes</html:td>
                            <html:td>Yes</html:td>
                        </html:tr>
                        <html:tr>
                            <html:th class="row">Update existing study</html:th>
                            <html:td>No</html:td>
                            <html:td>Yes</html:td>
                        </html:tr>
                        <html:tr>
                            <html:th class="row">Define multiple amendments</html:th>
                            <html:td>No</html:td>
                            <html:td>Yes</html:td>
                        </html:tr>
                        <html:tr>
                            <html:th class="row">Synchronize templates across PSC instances</html:th>
                            <html:td>No</html:td>
                            <html:td>Yes</html:td>
                        </html:tr>
                        <html:tr>
                            <html:th class="row">Create template elements without specifying IDs</html:th>
                            <html:td>Yes</html:td>
                            <html:td>No</html:td>
                        </html:tr>
                    </html:table>
                    <html:p>
                        This method and resource is intended for situations where a collaborating
                        application (e.g., a CTMS) wants to define one or more template skeletons
                        and tell PSC to use one of these skeletons at the same time it tells PSC
                        about the new study.  On the other hand, PUT to
                        <html:code>studies/{study-identifier}/template</html:code> allows the
                        collaborating application to create or update an entire study structure,
                        including all amendments.
                    </html:p>
                </doc>
                <request>
                    <representation href="#study-snapshot-xml"/>
                </request>
            </method>

            <resource path="{study-identifier}/template">
                <doc>A full study template.</doc>
                <param style="template" name="study-identifier">
                    <doc>
                        <html:p>
                            The assigned protocol identifier for the study.
                        </html:p>
                    </doc>
                </param>
                <method name="GET">
                    <doc>
                        <html:p>Returns the template for the study, decomposed into amendments.</html:p>
                        <html:div class="roles">
                            Authorized to:
                            <html:ul>
                                <html:li>Study QA Manager</html:li>
                                <html:li>Study Calendar Template Builder</html:li>
                                <html:li>Study Site Participation Administrator</html:li>
                                <html:li>Data Importer</html:li>
                                <html:li>Study Team Administrator</html:li>
                                <html:li>Study Creator</html:li>
                                <html:li>Study Subject Calendar Manager</html:li>
                                <html:li>Data Reader</html:li>
                            </html:ul>
                        </html:div>
                    </doc>
                    <response>
                        <representation href="#study-xml"/>
                    </response>
                </method>
                <method name="PUT">
                    <doc>
                        <html:p>
                            Creates the study if it does not exist, using the entity provided
                            in the request.  If the study does exist, the development amendment
                            may be updated using this method, but nothing else.  (Released
                            amendments will not be modified.)
                        </html:p>
                        <html:div class="roles">
                            Authorized to:
                            <html:ul>
                                <html:li>Study Calendar Template Builder</html:li>
                                <html:li>Data Importer</html:li>
                            </html:ul>
                        </html:div>
                        <html:p>
                            This has different semantics from POST to <html:code>studies</html:code>.
                            See that resource for details.
                        </html:p>
                    </doc>
                    <request>
                        <representation href="#study-xml"/>
                    </request>
                    <response>
                        <doc>
                            The response is the template as it exists after the update (if any).
                            May not exactly match the request XML, if the request tried to update
                            any released amendments.
                        </doc>
                        <representation href="#study-xml"/>
                    </response>
                </method>

                <resource path="{amendment-identifier}">
                    <doc>
                        <html:p>
                            A realized template, containing all epochs, study segments, etc., as it
                            existed at a particular amendment.
                        </html:p>
                    </doc>
                    <param style="template" name="amendment-identifier">
                        <doc>
                            <html:p>
                                The amendment identifier may be one of these three things:
                            </html:p>
                            <html:ul>
                                <html:li>
                                    <html:em>current</html:em> - indicating the current released
                                    amendment (if any).
                                </html:li>
                                <html:li>
                                    <html:em>development</html:em> - indicating the current
                                    development amendment (if any).
                                </html:li>
                                <html:li>
                                    The natural key for a released amendment.  The format is yyyy-mm-dd[~name].  E.g., for an
                                    amendment with date March 9, 2015 and no name, the natural key is 2015-03-09.  For
                                    an amendment with date April 1, 2001 named "justkidding", the natural key
                                    would be 2001-04-01~justkidding.  The name portion may be omitted if so long as
                                    omitting it does not cause ambiguity.
                                </html:li>
                            </html:ul>
                        </doc>
                    </param>
                    <method name="GET">
                        <doc>
                            <html:p>
                                Retrieve the realized template as it existed for the given amendment.
                            </html:p>
                            <html:div class="roles">
                                Authorized to:
                                <html:ul>
                                    <html:li>Study QA Manager</html:li>
                                    <html:li>Study Calendar Template Builder</html:li>
                                    <html:li>Study Site Participation Administrator</html:li>
                                    <html:li>Data Importer</html:li>
                                    <html:li>Study Team Administrator</html:li>
                                    <html:li>Study Creator</html:li>
                                    <html:li>Study Subject Calendar Manager</html:li>
                                    <html:li>Data Reader</html:li>
                                </html:ul>
                            </html:div>
                        </doc>
                        <response>
                            <representation href="#study-snapshot-xml"/>
                        </response>
                    </method>

                    <resource path="schedule-preview">
                        <doc>
                            <html:p>
                                Build a John Doe schedule from the template at the specified revision.
                                This template will not be persisted, but rather is to provide a preview
                                of what a schedule could look like (hence the name).
                            </html:p>
                            <html:p>
                                In particular, note that this resource is available for an unreleased
                                template.  This allows the user to see what a schedule for a template
                                would look like before going through the release and approval process.
                            </html:p>

                        </doc>
                        <method name="GET">
                            <doc>
                                <html:p>
                                    Retrieve a sample schedule for a template.
                                </html:p>
                                <html:div class="roles">
                                    Authorized to:
                                    <html:ul>
                                        <html:li>Study QA Manager</html:li>
                                        <html:li>Study Calendar Template Builder</html:li>
                                        <html:li>Study Site Participation Administrator</html:li>
                                        <html:li>Data Importer</html:li>
                                        <html:li>Study Team Administrator</html:li>
                                        <html:li>Study Creator</html:li>
                                        <html:li>Study Subject Calendar Manager</html:li>
                                        <html:li>Data Reader</html:li>
                                    </html:ul>
                                </html:div>
                            </doc>
                           <param name="segment[n]" style="query">
                                <doc>
                                    The identifier for one of the study segments to be included in the preview.
                                    <html:code>n</html:code> may be any value, so long as there's a
                                    corresponding <html:code>start-date</html:code>.  At least one
                                    <html:code>segment</html:code>/<html:code>start-date</html:code>
                                    pair is required.
                                </doc>
                            </param>
                            <param name="start-date[n]" style="query">
                                <doc>
                                    The start date for segment <html:code>n</html:code>.
                                </doc>
                            </param>
                            <response>
                                <representation href="#schedule-xml"/>
                                <representation mediaType="application/json"/>
                                <representation mediaType="text/calendar"/>
                            </response>
                        </method>
                    </resource>

                    <resource path="epochs/{epoch-name}/study-segments/{segment-name}/periods/{period-identifier}/planned-activities">
                        <doc>
                            The collection of planned activities for a particular period in the
                            template.
                        </doc>
                        <param name="epoch-name" style="template">
                            <doc>The name of the epoch to which the planned activities belong.</doc>
                        </param>
                        <param name="segment-name" style="template">
                            <doc>The name of the study segment to which the planned activities belong.</doc>
                        </param>
                        <param name="period-identifier" style="template">
                            <doc>
                                The identifier for the period to which the planned activities belong.
                                If the period has a name which is unique within its segment, that
                                can be the identifier.  Otherwise, you must use PSC's generated
                                identifier. This identifier can be discovered by reading the
                                study-snapshot XML.
                            </doc>
                        </param>
                        <method name="GET">
                            <doc>
                                <html:p>
                                    <html:em class="pending">Pending</html:em>
                                    The list of planned activities.
                                </html:p>
                                <html:div class="roles">
                                    Authorized to:
                                    <html:ul>
                                        <html:li>Study QA Manager</html:li>
                                        <html:li>Study Calendar Template Builder</html:li>
                                        <html:li>Study Site Participation Administrator</html:li>
                                        <html:li>Data Importer</html:li>
                                        <html:li>Study Team Administrator</html:li>
                                        <html:li>Study Creator</html:li>
                                        <html:li>Study Subject Calendar Manager</html:li>
                                        <html:li>Data Reader</html:li>
                                    </html:ul>
                                </html:div>
                            </doc>

                        </method>
                        <method name="POST">
                            <doc>
                                <html:p>
                                    Add another planned activity to the period.
                                    Only allowed when <html:tt>amendment-identifer</html:tt>
                                    is <html:em>development</html:em>.
                                </html:p>
                                <html:div class="roles">
                                    Authorized to:
                                    <html:ul>
                                        <html:li>Study Calendar Template Builder</html:li>
                                    </html:ul>
                                </html:div>
                            </doc>
                            <request>
                                <representation href="#planned-activity-form"/>
                            </request>
                            <response>
                                <param name="Location" style="header">
                                    <doc>
                                        If successful, this method will return 201 with a location
                                        header pointing to the new planned activity.
                                    </doc>
                                </param>
                            </response>
                        </method>

                        <resource path="{planned-activity-identifier}">
                            <doc>A single planned activity</doc>
                            <param name="planned-activity-identifier" style="template">
                                <doc>The generated identifier for the planned activity.</doc>
                            </param>
                            <method name="GET">
                                <doc>
                                    <html:div class="roles">
                                        Authorized to:
                                        <html:ul>
                                            <html:li>Study QA Manager</html:li>
                                            <html:li>Study Calendar Template Builder</html:li>
                                            <html:li>Study Site Participation Administrator</html:li>
                                            <html:li>Data Importer</html:li>
                                            <html:li>Study Team Administrator</html:li>
                                            <html:li>Study Creator</html:li>
                                            <html:li>Study Subject Calendar Manager</html:li>
                                            <html:li>Data Reader</html:li>
                                        </html:ul>
                                    </html:div>
                                </doc>
                                <response>
                                    <representation href="#planned-activity-form"/>
                                </response>
                            </method>
                            <method name="PUT">
                                <doc>
                                    <html:p>
                                        Update the planned activity's properties.
                                        Only allowed when <html:tt>amendment-identifer</html:tt>
                                        is <html:em>development</html:em>.
                                    </html:p>
                                    <html:div class="roles">
                                        Authorized to:
                                        <html:ul>
                                            <html:li>Study Calendar Template Builder</html:li>
                                        </html:ul>
                                    </html:div>
                                </doc>
                                <request>
                                    <representation href="#planned-activity-form"/>
                                </request>
                            </method>
                        </resource>
                    </resource>
                </resource>

                <resource path="amendments/{amendment-identifier}">
                    <doc>
                        <html:p>A single amendment.</html:p>
                    </doc>
                    <param style="template" name="amendment-identifier">
                        <doc>
                            The natural key for the amendment.  The format is yyyy-mm-dd[~name].  E.g., for an
                            amendment with date March 9, 2015 and no name, the natural key is 2015-03-09.  For
                            an amendment with date April 1, 2001 named "justkidding", the natural key
                            would be 2001-04-01~justkidding.  The name portion may be omitted if so long as
                            omitting it does not cause ambiguity.
                        </doc>
                    </param>
                    <method name="GET">
                        <doc>
                            <html:p>
                                Get the amendment alone.
                            </html:p>
                            <html:div class="roles">
                                Authorized to:
                                <html:ul>
                                    <html:li>Study QA Manager</html:li>
                                    <html:li>Study Calendar Template Builder</html:li>
                                    <html:li>Study Site Participation Administrator</html:li>
                                    <html:li>Data Importer</html:li>
                                    <html:li>Study Team Administrator</html:li>
                                    <html:li>Study Creator</html:li>
                                    <html:li>Study Subject Calendar Manager</html:li>
                                    <html:li>Data Reader</html:li>
                                </html:ul>
                            </html:div>
                        </doc>
                        <response>
                            <representation href="#amendment-xml"/>
                        </response>
                    </method>
                    <method name="PUT">
                        <doc>
                            <html:p>
                                Create the amendment (if the study doesn't already have a development amendment)
                                or update the amendment (if it is the current development amendment).
                            </html:p>
                            <html:div class="roles">
                                Authorized to:
                                <html:ul>
                                    <html:li>Study Calendar Template Builder</html:li>
                                </html:ul>
                            </html:div>
                        </doc>
                        <request>
                            <representation href="#amendment-xml"/>
                        </request>
                        <response>
                            <representation href="#amendment-xml"/>
                        </response>
                    </method>
                    <method name="DELETE">
                        <doc>
                            <html:p>
                                Delete the amendment, if and only if it isn't released.
                            </html:p>
                            <html:div class="roles">
                                Authorized to:
                                <html:ul>
                                    <html:li>Study Calendar Template Builder</html:li>
                                </html:ul>
                            </html:div>
                        </doc>
                    </method>
                </resource>
            </resource>

            <resource path="{study-identifier}/sites/{site-identifier}">
                <doc>
                    <html:p>The link between a study and a site.</html:p>
                </doc>
                <param style="template" name="study-identifier">
                    <doc>The assigned protocol identifier for the study.</doc>
                </param>
                <param style="template" name="site-identifier">
                    <doc>
                        The assigned identifier for the site.  If none was specified when the
                        site was created, the default is the site's name.
                    </doc>
                </param>
                <method name="GET">
                    <doc>
                        <html:p>
                            If successful, the link exists.  Otherwise it doesn't.
                        </html:p>
                        <html:div class="roles">
                            Authorized to:
                            <html:ul>
                                <html:li>Study Site Participation Administrator</html:li>
                                <html:li>Study QA Manager</html:li>
                                <html:li>Study Subject Calendar Manager</html:li>
                                <html:li>Data Reader</html:li>
                            </html:ul>
                        </html:div>
                    </doc>
                    <response>
                        <representation href="#study-site-link-xml"/>
                    </response>
                </method>
                <method name="PUT">
                    <doc>
                        <html:p>
                            Associate the site and the study.
                        </html:p>
                        <html:div class="roles">
                            Authorized to:
                            <html:ul>
                                <html:li>Study Site Participation Administrator</html:li>
                            </html:ul>
                        </html:div>
                    </doc>

                    <request>
                        <representation href="#study-site-link-xml"/>
                    </request>
                </method>
                <method name="DELETE">
                    <doc>
                        <html:p>
                            Unassociate the site and the study.  Only possible if there are no subjects
                            on the study from the site.
                        </html:p>
                        <html:div class="roles">
                            Authorized to:
                            <html:ul>
                                <html:li>Study Site Participation Administrator</html:li>
                            </html:ul>
                        </html:div>
                    </doc>
                </method>

                <resource path="subject-assignments">
                    <doc>
                        <html:p>The collection of subjects on the study at the named site.</html:p>
                    </doc>
                    <method name="GET">
                        <doc>
                            <html:p>
                                Retrieve list of subjects on the study at the named site.
                            </html:p>
                            <html:div class="roles">
                                Authorized to:
                                <html:ul>
                                    <html:li>Study Team Administrator</html:li>
                                    <html:li>Study Subject Calendar Manager</html:li>
                                    <html:li>Data Reader</html:li>
                                </html:ul>
                            </html:div>
                        </doc>
                        <response>
                            <representation href="#subject-assignments-xml"/>
                        </response>
                    </method>
                    <method name="POST">
                        <doc>
                            <html:p>
                                Accepts a document describing the registration information
                                for a subject (including the subject information) and assigns
                                the subject to the the study.
                            </html:p>
                            <html:div class="roles">
                                Authorized to:
                                <html:ul>
                                    <html:li>Study Subject Calendar Manager</html:li>
                                </html:ul>
                            </html:div>
                        </doc>
                        <request>
                            <representation href="#registration-xml"/>
                        </request>
                        <response>
                            <param style="header" name="Location">
                                <doc>
                                    If successful, the response will be HTTP 201, plus a Location
                                    header pointing to the newly generated schedule for the subject.
                                </doc>
                            </param>
                        </response>
                    </method>
                </resource>

                <resource path="approvals">
                    <doc>
                        <html:p>The history of approvals for the amendments of a study at a site.</html:p>
                    </doc>
                    <method name="GET">
                        <doc>
                            <html:p>
                                Returns the approvals in order by approval date.
                            </html:p>
                            <html:div class="roles">
                                Authorized to:
                                <html:ul>
                                    <html:li>Study QA Manager</html:li>
                                    <html:li>Data Reader</html:li>
                                </html:ul>
                            </html:div>
                        </doc>
                        <response>
                            <representation href="#approvals-xml"/>
                        </response>
                    </method>
                    <method name="POST">
                        <doc>
                            <html:p>
                                Accepts a document naming the amendment and the approval date
                                in order to mark an amendment approved.  This process is not
                                reversible.
                            </html:p>
                            <html:div class="roles">
                                Authorized to:
                                <html:ul>
                                    <html:li>Study QA Manager</html:li>
                                </html:ul>
                            </html:div>
                        </doc>
                        <request>
                            <representation href="#approval-xml"/>
                        </request>
                    </method>
                </resource>
            </resource>

            <resource path="{study-identifier}/schedules/{assignment-identifier}">
                <doc>
                    <html:p>The schedule for a single subject</html:p>
                </doc>
                <param style="template" name="study-identifier">
                    <doc>The assigned protocol identifier for the study</doc>
                </param>
                <param style="template" name="assignment-identifier">
                    <doc>
                        A shared identifier for the subject's schedule.  You can specify
                        the identifier to use when registering the subject (it's an optional
                        attribute in the <html:tt>registration</html:tt> element),
                        or you can use a random one that PSC provides.  In either case, you can
                        find the valid assignment identifiers with a GET to
                        <html:tt>studies/{study-identifier}/sites/{site-name}/subject-assigments</html:tt>.
                    </doc>
                </param>
                <method name="GET">
                    <doc>
                        <html:p>
                            Retrieve the full schedule for the assignment.
                        </html:p>
                        <html:div class="roles">
                            Authorized to:
                            <html:ul>
                                <html:li>Study Subject Calendar Manager</html:li>
                                <html:li>Study Team Administrator</html:li>
                                <html:li>Data Reader</html:li>
                            </html:ul>
                        </html:div>
                    </doc>
                    <response>
                        <representation href="#schedule-xml"/>
                        <representation mediaType="application/json"/>
                        <representation mediaType="text/calendar"/>
                    </response>
                </method>
                <method name="POST">
                    <doc>
                        <html:p>
                            Accepts a document describing a scheduled study segment and adds it to
                            the subject's schedule.  Any activities included in the POSTed scheduled
                            segment will be ignored (i.e., only activities from the study template
                            will be scheduled using this method).
                        </html:p>
                        <html:div class="roles">
                            Authorized to:
                            <html:ul>
                                <html:li>Study Subject Calendar Manager</html:li>
                            </html:ul>
                        </html:div>
                    </doc>
                    <request>
                        <representation href="#next-scheduled-study-segment-xml"/>
                    </request>
                </method>

                <resource path="activities/on/{year}/{month}/{day}">
                    <doc>
                        <html:p>A list of activities for the selected day.</html:p>
                    </doc>
                    <param style="template" name="year"/>
                    <param style="template" name="month"/>
                    <param style="template" name="day"/>
                    <method name="GET">
                        <doc>
                            <html:p>
                                A list of activities for the selected day.
                            </html:p>
                            <html:div class="roles">
                                Authorized to:
                                <html:ul>
                                    <html:li>Study Subject Calendar Manager</html:li>
                                    <html:li>Study Team Administrator</html:li>
                                    <html:li>Data Reader</html:li>
                                </html:ul>
                            </html:div>
                        </doc>
                        <response>
                            <representation href="#scheduled-activities-xml"/>
                        </response>
                    </method>
                </resource>

                <resource path="activities/{scheduled-activity-identifier}">
                    <doc>
                        <html:p>A single scheduled activity.</html:p>
                    </doc>
                    <param style="template" name="scheduled-activity-identifier">
                        <doc>
                            PSC's generated identifier for the scheduled activity.  You can use
                            <html:tt>studies/{study-identifier}/schedules/{assignment-identifier}</html:tt>
                            or <html:tt>studies/{study-identifier}/schedules/{assignment-identifier}/{year}/{month}/{day}</html:tt>
                            to find valid values.
                        </doc>
                    </param>
                    <method name="GET">
                        <doc>
                            <html:p>
                                Returns the details for the scheduled activity, including the source planned
                                activity and its modification history.
                            </html:p>
                            <html:div class="roles">
                                Authorized to:
                                <html:ul>
                                    <html:li>Study Subject Calendar Manager</html:li>
                                    <html:li>Study Team Administrator</html:li>
                                    <html:li>Data Reader</html:li>
                                </html:ul>
                            </html:div>
                        </doc>
                        <response>
                            <representation href="#scheduled-activity-xml"/>
                        </response>
                    </method>
                    <method name="POST">
                        <doc>
                            <html:p>
                                Accepts a new scheduled activity state (date, status, and reason) to
                                update the scheduled activity.
                            </html:p>
                            <html:div class="roles">
                                Authorized to:
                                <html:ul>
                                    <html:li>Study Subject Calendar Manager</html:li>
                                </html:ul>
                            </html:div>
                        </doc>
                        <request>
                            <representation href="#scheduled-activity-state-xml"/>
                            <representation mediaType="application/json"/>
                        </request>
                        <response>
                            <param name="Location" style="header">
                                <doc>
                                    If successful, this action will return 201 Created with a location header pointing back to the original scheduled activity.
                                </doc>
                            </param>
                        </response>
                    </method>
                </resource>
            </resource>
        </resource>

        <resource path="schedules/{subject-identifier}">
            <doc>
               <html:em class="pending">Deprecated</html:em>
               <html:p>The schedule for a single subject for all assign studies</html:p>
            </doc>
            <param style="template" name="subject-identifier">
                <doc>The persion id or generated identifier for subject.You can assign
                    the person id while creating the subject and use for subject registration</doc>
            </param>
            <method name="GET">
                <doc>
                    <html:p>
                        Retrieve the full schedule for the subject from multiple studies
                    </html:p>
                    <html:div class="roles">
                        Authorized to:
                        <html:ul>
                            <html:li>Study Subject Calendar Manager</html:li>
                            <html:li>Study Team Administrator</html:li>
                            <html:li>Data Reader</html:li>
                        </html:ul>
                    </html:div>
                </doc>
                <response>
                    <representation href="#subject-assignments-xml"/>
                    <representation mediaType="application/json"/>
                    <representation mediaType="text/calendar"/>
                </response>
            </method>
            <resource path="batchUpdate">
                <doc>
                    <html:em class="pending">Deprecated</html:em>
                    <html:p>The batch update for the list of scheduled activities for single subject</html:p>
                </doc>
                <method name="POST">
                    <doc>
                        <html:p>
                            Accepts new scheduled activity state (date, status, and reason) to
                            update the scheduled activity for the list of scheduled activities.
                            Returns 207 Multi-Status with the response entity showing status for individual scheduled activity.
                            If update sucessful for scheduled activity, response entity will contain Success Code 201 with Location pointing to the original scheduled activity.
                        </html:p>
                        <html:div class="roles">
                            Authorized to:
                            <html:ul>
                                <html:li>Study Subject Calendar Manager</html:li>
                            </html:ul>
                        </html:div>
                    </doc>

                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
               </method>
            </resource>
        </resource>

        <resource path="subjects/{subject-identifier}/schedules">
            <doc>
               <html:p>The schedule for a single subject for all assigned studies</html:p>
            </doc>
            <param style="template" name="subject-identifier">
                <doc>The persion id or generated identifier for subject.You can assign
                    the person id while creating the subject and use for subject registration</doc>
            </param>
            <method name="GET">
                <doc>
                    <html:p>
                        Retrieve the full schedule for the subject from multiple studies
                    </html:p>
                    <html:div class="roles">
                        Authorized to:
                        <html:ul>
                            <html:li>Study Subject Calendar Manager</html:li>
                            <html:li>Study Team Administrator</html:li>
                            <html:li>Data Reader</html:li>
                        </html:ul>
                    </html:div>
                </doc>
                <response>
                    <representation href="#subject-assignments-xml"/>
                    <representation mediaType="application/json"/>
                    <representation mediaType="text/calendar"/>
                </response>
            </method>
            <resource path="activities">
                <doc>
                    <html:p>The batch update for the list of scheduled activities for single subject</html:p>
                </doc>
                <method name="POST">
                    <doc>
                        <html:p>
                            Accepts new scheduled activity state (date, status, and reason) to
                            update the scheduled activity for the list of scheduled activities.
                            Returns 207 Multi-Status with the response entity showing status for individual scheduled activity.
                            If update is successful for scheduled activity, response entity will contain Success Code 201 with Location pointing to the original scheduled activity.
                        </html:p>
                        <html:div class="roles">
                            Authorized to:
                            <html:ul>
                                <html:li>Study Subject Calendar Manager</html:li>
                            </html:ul>
                        </html:div>
                    </doc>
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
               </method>
            </resource>
            <resource path="assignments/{assignment-identifier}/notifications">
                <doc>
                    <html:p>The list of current notifications for the study subject assignment for subject.</html:p>
                </doc>
                <param style="template" name="assignment-identifier">
                    <doc>The generated identifier for study subject assignment.</doc>
                </param>
                <method name="GET">
                    <doc>
                        <html:p>
                            Retrieve current notifications for the study subject assignment.
                        </html:p>
                        <html:div class="roles">
                            Authorized to:
                            <html:ul>
                                <html:li>Study Subject Calendar Manager</html:li>
                                <html:li>Study Team Administrator</html:li>
                                <html:li>Data Reader</html:li>
                            </html:ul>
                        </html:div>
                    </doc>
                    <response>
                        <representation href="#notifications-xml"/>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <resource path="{notification-identifier}">
                    <doc>
                        <html:p>The current notifications with given identifier for the study subject assignment</html:p>
                    </doc>
                    <param style="template" name="notification-identifier">
                        <doc>The generated identifier for notification.</doc>
                    </param>
                    <method name="GET">
                        <doc>
                            <html:p>
                                The current notification with identifier for the study subject assignment.
                            </html:p>
                            <html:div class="roles">
                                Authorized to:
                                <html:ul>
                                    <html:li>Study Subject Calendar Manager</html:li>
                                    <html:li>Study Team Administrator</html:li>
                                    <html:li>Data Reader</html:li>
                                </html:ul>
                            </html:div>
                        </doc>
                        <response>
                            <representation href="#notification-xml"/>
                            <representation mediaType="application/json"/>
                        </response>
                    </method>
                    <method name="PUT">
                        <doc>
                            <html:p>
                                Accepts notification's dismiss flag value and sets accordingly.
                            </html:p>
                            <html:div class="roles">
                                Authorized to:
                                <html:ul>
                                    <html:li>Study Subject Calendar Manager</html:li>
                                </html:ul>
                            </html:div>
                        </doc>
                        <request>
                            <representation mediaType="application/json"/>
                        </request>
                    </method>
                </resource>
            </resource>
        </resource>

        <resource path="activities">
            <doc>
                <html:p>All of the activity sources in the system.</html:p>
            </doc>
            <method name="GET">
                <doc>
                    <html:p>
                        Retrieve all of the activity sources in the system.
                    </html:p>
                    <html:div class="roles">
                        Authorized to:
                        <html:ul>
                            <html:li>Study Calendar Template Builder</html:li>
                            <html:li>Business Administrator</html:li>
                            <html:li>Data Reader</html:li>
                        </html:ul>
                    </html:div>
                </doc>
                <request>
                    <param style="query" name="q" type="xsd:string">
                        <doc>If specified, only activities which contain the query value (case-insensitive) in either their name or their code will be returned.</doc>
                    </param>
                    <param style="query" name="type" type="xsd:string">
                        <doc>
                            If specified, only activities whose type's name matches the given value will be returned.
                        </doc>
                    </param>
                    <param style="query" name="type-id" type="xsd:integer">
                        <doc>
                            If specified, only activities whose type-id matches the given value will be returned.
                            <html:strong>Deprecated.  Will be removed in PSC 2.6 or later.</html:strong>
                        </doc>
                    </param>
                </request>
                <response>
                    <representation href="#activity-source-list-xml"/>
                </response>
            </method>

            <resource path="{activity-source-name}">
                <doc>
                    <html:p>An activity source.</html:p>
                </doc>
                <param style="template" name="activity-source-name"/>
                <method name="GET">
                    <doc>
                        <html:p>
                            Returns a list of the activities in the source.
                        </html:p>
                        <html:div class="roles">
                            Authorized to:
                            <html:ul>
                                <html:li>Study Calendar Template Builder</html:li>
                                <html:li>Business Administrator</html:li>
                                <html:li>Data Reader</html:li>
                            </html:ul>
                        </html:div>
                    </doc>
                    <request>
                        <param style="query" name="q" type="xsd:string">
                            <doc>If specified, only activities which contain the query value (case-insensitive) in either their name or their code will be returned.</doc>
                        </param>
                        <param style="query" name="type" type="xsd:string">
                            <doc>
                                If specified, only activities whose type's name matches the given value will be returned.
                            </doc>
                        </param>
                        <param style="query" name="type-id" type="xsd:integer">
                            <doc>
                                If specified, only activities whose type-id matches the given value will be returned.
                                <html:strong>Deprecated.  Will be removed in PSC 2.6 or later.</html:strong>
                            </doc>
                        </param>
                    </request>
                    <response>
                        <representation href="#activity-source-xml"/>
                    </response>
                </method>
                <method name="PUT">
                    <doc>
                        <html:p>
                            Create or update the named source.  Note that this will not allow you
                            to remove activities that are in any existing templates.
                        </html:p>
                        <html:div class="roles">
                            Authorized to:
                            <html:ul>
                                <html:li>Business Administrator</html:li>
                            </html:ul>
                        </html:div>
                    </doc>
                    <request>
                        <representation href="#activity-source-xml"/>
                    </request>
                    <response>
                        <representation href="#activity-source-xml"/>
                    </response>
                </method>

                <resource path="{activity-code}">
                    <doc>
                        <html:p>A single activity.</html:p>
                    </doc>
                    <param style="template" name="activity-code"/>
                    <method name="GET">
                        <doc>
                            <html:p>
                                Returns a the specified activity.
                            </html:p>
                            <html:div class="roles">
                                Authorized to:
                                <html:ul>
                                    <html:li>Study Calendar Template Builder</html:li>
                                    <html:li>Business Administrator</html:li>
                                    <html:li>Data Reader</html:li>
                                </html:ul>
                            </html:div>
                        </doc>
                        <response>
                            <representation href="#activity-xml"/>
                        </response>
                    </method>
                    <method name="PUT">
                        <doc>
                            <html:p>
                                Create or update the activity.
                            </html:p>
                            <html:div class="roles">
                                Authorized to:
                                <html:ul>
                                    <html:li>Business Administrator</html:li>
                                </html:ul>
                            </html:div>
                        </doc>
                        <request>
                            <representation href="#activity-xml"/>
                        </request>
                        <response>
                            <representation href="#activity-xml"/>
                        </response>
                    </method>
                    <method name="DELETE">
                        <doc>
                            <html:p>
                                Delete the named activity.  Note that this will fail if the activity
                                is in use in any template.
                            </html:p>
                            <html:div class="roles">
                                Authorized to:
                                <html:ul>
                                    <html:li>Business Administrator</html:li>
                                </html:ul>
                            </html:div>
                        </doc>
                    </method>
                </resource>
            </resource>
            <resource path="{source-name}/manual-target">
                <param style="template" name="source-name"/>
                <method name="PUT">
                    <doc>
                        <html:p>
                            Update the named source as manual activity target source. Manual target field value must be true.
                        </html:p>
                        <html:div class="roles">
                            Authorized to:
                            <html:ul>
                                <html:li>Business Administrator</html:li>
                            </html:ul>
                        </html:div>
                    </doc>
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                </method>
            </resource>
        </resource>

        <resource path="sites">
            <doc>
                <html:p>A list of the sites in the system.</html:p>
            </doc>
            <method name="GET">
                <doc>
                    <html:p>
                        Retrieve a list of all of the sites to which the user is authorized.
                    </html:p>
                    <html:div class="roles">
                        Authorized to:
                        <html:ul>
                            <html:li>Person and Organization Information Manager</html:li>
                            <html:li>Study Site Participation Administrator</html:li>
                            <html:li>User Administrator</html:li>
                            <html:li>Data Reader</html:li>
                        </html:ul>
                    </html:div>
                </doc>
                <response>
                    <representation href="#site-list-xml"/>
                </response>
            </method>

            <resource path="{site-identifier}">
                <doc>
                    <html:p>A single site.</html:p>
                </doc>
                <param style="template" name="site-identifier">
                    <doc>
                        The assigned identifier for the site.  If none was specified when the
                        site was created, the default is the site's name.
                    </doc>
                </param>
                <method name="GET">
                    <doc>
                        <html:p>
                            Retrieve a site using its identifier or name.
                        </html:p>
                        <html:div class="roles">
                            Authorized to:
                            <html:ul>
                                <html:li>Person and Organization Information Manager</html:li>
                                <html:li>Study Site Participation Administrator</html:li>
                                <html:li>User Administrator</html:li>
                                <html:li>Data Reader</html:li>
                            </html:ul>
                        </html:div>
                    </doc>
                    <response>
                        <representation href="#site-xml"/>
                    </response>
                </method>
                <method name="PUT">
                    <doc>
                        <html:p>
                            Create or update the site.
                        </html:p>
                        <html:div class="roles">
                            Authorized to:
                            <html:ul>
                                <html:li>Person and Organization Information Manager</html:li>
                            </html:ul>
                        </html:div>
                    </doc>
                    <request>
                        <representation href="#site-xml"/>
                    </request>
                </method>
                <method name="DELETE">
                    <doc>
                        <html:p>
                            Permanently delete the site if there are no subject assignments, including all user and study associations.
                        </html:p>
                        <html:div class="roles">
                            Authorized to:
                            <html:ul>
                                <html:li>Person and Organization Information Manager</html:li>
                            </html:ul>
                        </html:div>
                    </doc>
                </method>

                <resource path="blackout-dates">
                    <doc>
                        <html:p>The blackout dates for the selected site.</html:p>
                    </doc>
                    <method name="GET">
                        <doc>
                            <html:p>
                                Retrieve all of the blackout dates for the specified site.
                            </html:p>
                            <html:div class="roles">
                                Authorized to:
                                <html:ul>
                                    <html:li>Person and Organization Information Manager</html:li>
                                    <html:li>Data Reader</html:li>
                                </html:ul>
                            </html:div>
                        </doc>
                        <response>
                            <representation href="#blackout-dates-xml"/>
                        </response>
                    </method>
                    <method name="POST">
                        <doc>
                            <html:p>
                                Add another blackout date to this site.
                            </html:p>
                            <html:div class="roles">
                                Authorized to:
                                <html:ul>
                                    <html:li>Person and Organization Information Manager</html:li>
                               </html:ul>
                            </html:div>
                        </doc>
                        <request>
                            <representation href="#blackout-date-xml"/>
                        </request>
                    </method>

                    <resource path="{blackout-date-identifier}">
                        <doc>
                            <html:p>A single blackout date</html:p>
                        </doc>
                        <param style="template" name="blackout-date-identifier">
                            <doc>The generated identifier for the blackout date.</doc>
                        </param>
                        <method name="DELETE">
                            <doc>
                                <html:p>
                                    Delete the blackout date.
                                </html:p>
                                <html:div class="roles">
                                    Authorized to:
                                    <html:ul>
                                        <html:li>Person and Organization Information Manager</html:li>
                                   </html:ul>
                                </html:div>
                            </doc>
                        </method>
                    </resource>
                </resource>
            </resource>
        </resource>

        <resource path="users">
            <doc>
                <html:p>
                    The list of users known to the system.  The returned user documents can be brief
                    (username, first &amp; last names, account expiration date) or full (the above,
                    plus roles and role scopes).  If requesting full user information, in a
                    deployment with many users, limiting the range using the "limit" and "offset"
                    parameters may improve performance.
                </html:p>
            </doc>
            <method name="GET">
                <doc>
                    <html:div class="roles">
                        Authorized to:
                        <html:ul>
                            <html:li>User Administrator</html:li>
                        </html:ul>
                    </html:div>
                </doc>
                <request>
                    <param style="query" name="q" type="xsd:string">
                        <doc>
                            If specified, only users whose username, first name, or last name
                            contain the value (case-sensitive, unfortunately) will be included.
                        </doc>
                    </param>
                    <param style="query" name="brief" type="xsd:boolean">
                        <doc>
                            If this parameter is "true" or omitted, only each user's first &amp;
                            last name, username, and expiration date (if any) will be included
                            in the response.  If "false", the users' roles and role scopes will
                            be included also.
                        </doc>
                    </param>
                    <param style="query" name="limit" type="xsd:integer">
                        <doc>
                            If specified, only this number of results will be returned.  Combine
                            with "offset" to paginate the list.
                        </doc>
                    </param>
                    <param style="query" name="offset" type="xsd:integer">
                        <doc>
                            If specified, the results starting with this value will be returned.
                            Combine with "limit" to paginate the list.
                        </doc>
                    </param>
                </request>
                <response>
                    <representation mediaType="application/json"/>
                </response>
            </method>
        </resource>

        <resource path="users/{username}/managed-schedules">
            <doc>
                <html:p>
                    A single schedule for all the subject schedules being managed by a particular
                    user. A user may see the schedules for herself or any of her colleagues, though
                    her colleagues' schedules will be limited to those where she has overlapping
                    study and site access.
                </html:p>
            </doc>
            <method name="GET">
                <doc>
                    <html:div class="roles">
                        Authorized to:
                        <html:ul>
                            <html:li>Study Subject Calendar Manager</html:li>
                            <html:li>Study Team Administrator</html:li>
                            <html:li>Data Reader</html:li>
                        </html:ul>
                    </html:div>
                </doc>
                <response>
                    <representation href="#subject-assignments-xml"/>
                    <representation mediaType="application/json"/>
                    <representation mediaType="text/calendar"/>
                </response>
            </method>
        </resource>

        <resource path="users/{username}/roles">
            <doc>
                <html:p>
                    A list of the roles for the specified user.  System adminstrator users
                    may see the roles for any user in the system; all other users may only
                    see their own roles.
                </html:p>
            </doc>
            <param style="template" name="username">
                <doc>
                    <html:p>The username of the user.</html:p>
                </doc>
            </param>
            <method name="GET">
                <doc>
                    <html:p>
                        Retrieve the list of roles for a user.
                    </html:p>
                    <html:div class="roles">
                        Authorized to:
                        <html:ul>
                            <html:li>User Administrator</html:li>
                            <html:li>System Administrator can see if the user has 'User Administrator' role</html:li>
                            <html:li>Any user can see their own roles</html:li>
                        </html:ul>
                    </html:div>
                </doc>
                <response>
                    <representation href="#roles-xml"/>
                </response>
            </method>
            <resource path="{rolename}">
                <doc>
                    <html:p>
                        The details of a particular role for a user.  As with the parent resource,
                        most users may only access the resource corresponding with their own
                        account.
                    </html:p>
                    <html:p>
                        The details for a role include the sites for which it is enabled for the
                        user (if it is a site-specific role).  For study- and site-specific roles,
                        the associated studies nest within the associated sites.
                    </html:p>
                </doc>
                <param style="template" name="rolename">
                    <doc>
                        <html:p>
                            The role for which details are being requested.
                        </html:p>
                    </doc>
                </param>
                <method name="GET">
                    <doc>
                        <html:p>
                            Returns the details of a particular role.
                        </html:p>
                        <html:p>
                            If the authenticated user is not permitted to see account information
                            for the requested username, it returns status 403.  If the authenticated
                            user is permitted to see account information, but the account doesn't
                            have the requested role, it returns 404.
                        </html:p>
                        <html:div class="roles">
                            Authorized to:
                            <html:ul>
                                <html:li>User Administrator</html:li>
                                <html:li>System Administrator can see if the user has 'User Administrator' role</html:li>
                                <html:li>Any user can see their own roles</html:li>
                            </html:ul>
                        </html:div>
                    </doc>
                    <response>
                        <representation href="#role-xml"/>
                    </response>
                </method>
            </resource>
            <resource path="subject-coordinator/schedules">
                <doc>
                    <html:em class="pending">Deprecated</html:em>
                    <html:p>
                        The schedule for all the patients belonging to a particular subject
                        coordinator user. Subject coordinator should able to see her own schedules
                        or for any of her colleagues.
                    </html:p>
                </doc>
                <method name="GET">
                    <doc>
                        <html:p>
                            Retrieve the full schedules for all subjects belonging to a particular subject coordinator.
                        </html:p>
                        <html:div class="roles">
                            Authorized to:
                            <html:ul>
                                <html:li>Study Subject Calendar Manager</html:li>
                                <html:li>Study Team Administrator</html:li>
                                <html:li>Data Reader</html:li>
                            </html:ul>
                        </html:div>
                    </doc>
                    <response>
                        <representation href="#subject-assignments-xml"/>
                        <representation mediaType="application/json"/>
                        <representation mediaType="text/calendar"/>
                    </response>
                </method>
            </resource>
        </resource>

        <resource path="provided-sites">
            <doc>
                <html:p>A list of sites from all enabled SiteProviders</html:p>
            </doc>
            <method name="GET">
                <doc>
                    <html:p>
                        Retrieve a list of sites from all enabled SiteProviders.
                    </html:p>
                    <html:div class="roles">
                        Authorized to:
                        <html:ul>
                            <html:li>Public</html:li>
                        </html:ul>
                    </html:div>
                </doc>
                <request>
                    <param style="query" name="q" type="xsd:string">
                        <doc>If specified, only sites which contain the query value (case-insensitive) in either their site name or their assigned identifier will be returned.</doc>
                    </param>
                </request>
                <response>
                    <representation href="#site-list-xml"/>
                </response>
            </method>
        </resource>

        <resource path="provided-studies">
            <doc>
                <html:p>A list of studies from all enabled StudyProviders</html:p>
            </doc>
            <method name="GET">
                <doc>
                    <html:p>
                        Retrieve a list of studies from all enabled SiteProviders.
                    </html:p>
                    <html:div class="roles">
                        Authorized to:
                        <html:ul>
                            <html:li>Study Calendar Template Builder</html:li>
                            <html:li>Data Reader</html:li>
                        </html:ul>
                    </html:div>
                </doc>
                <request>
                    <param style="query" name="q" type="xsd:string">
                        <doc>If specified, only studies which contain the query value (case-insensitive) in either their study title or their identifiers will be returned.</doc>
                    </param>
                </request>
                <response>
                    <representation href="#studies-xml"/>
                    <representation mediaType="application/json"/>
                </response>
            </method>
        </resource>

        <resource path="reports/scheduled-activities">
            <doc>
                <html:p>A list of scheduled activities for all the provided filters</html:p>
            </doc>
            <method name="GET">
                <doc>
                    <html:p>
                        Retrieve a list of scheduled activities that fit the criteria specified in the filters.
                        The filters are applied simultaneously -- i.e., only information about scheduled activities
                        that match all the filters will be returned.
                    </html:p>
                    <html:div class="roles">
                        Authorized to:
                        <html:ul>
                            <html:li>Study Subject Calendar Manager</html:li>
                            <html:li>Study Team Administrator</html:li>
                            <html:li>Data Reader</html:li>
                        </html:ul>
                    </html:div>
                </doc>
                <request>
                    <param style="query" name="study" type="xsd:string">
                        <doc>Limit to those scheduled activities derived from the study with the specified identifier.</doc>
                    </param>
                    <param style="query" name="site" type="xsd:string">
                        <doc>Limit to those scheduled activities for subjects participating at the site with the specified identifier.</doc>
                    </param>
                    <param style="query" name="state" type="xsd:string">
                        <doc>
                            Limit to those scheduled activities currently in the given state. This
                            parameter may be specified several times to include activities in
                            different states.
                        </doc>
                    </param>
                    <param style="query" name="activity-type" type="xsd:string">
                        <doc>
                            Limit to those scheduled activities whose activity type matches the
                            given value. This parameter may be specified several times to include
                            activities of several types.
                        </doc>
                    </param>
                    <param style="query" name="label" type="xsd:string">
                        <doc>Limit to those scheduled activities which have the given label.</doc>
                    </param>
                    <param style="query" name="start-date" type="xsd:string">
                        <doc>Limit to those scheduled activities whose current date is this date or later.</doc>
                    </param>
                    <param style="query" name="end-date" type="xsd:string">
                        <doc>Limit to those scheduled activities whose current date is this date or earlier.</doc>
                    </param>
                    <param style="query" name="responsible-user" type="xsd:string">
                        <doc>Limit to those scheduled activities whose subject assignment is being managed by the user with this username.</doc>
                    </param>
                    <param style="query" name="person-id" type="xsd:string">
                        <doc>Limit to activities for the given subject only.</doc>
                    </param>
                </request>
                <response>
                    <doc>A single JSON object describing the selected filters, along with the corresponding array of the properties of scheduled activities.</doc>
                    <representation mediaType="application/json"/>
                </response>
            </method>
        </resource>

        <resource path="osgi/bundles">
            <resource path="{bundle-id}">
                <doc>
                    <html:p>
                        The state of the given bundle in PSC's OSGi layer.
                    </html:p>
                </doc>
                <param style="template" name="bundle-id">
                    <doc>
                        The deployed ID for the bundle in question.
                        The <html:code>osgi/bundles</html:code>
                        resource may be used to look up these IDs.
                    </doc>
                </param>
                <method name="GET">
                    <doc>
                        <html:p>
                            A single JSON object describing the bundle with the given ID.
                        </html:p>
                        <html:div class="roles">
                            Authorized to:
                            <html:ul>
                                <html:li>System Administrator</html:li>
                            </html:ul>
                        </html:div>
                    </doc>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <resource path="state">
                    <method name="GET">
                        <doc>
                            <html:p>
                                An object with the key <html:code>state</html:code>
                                and the value matching one of the six bundle
                                state constant names defined by the OSGi
                                <html:a href="http://www.osgi.org/javadoc/r4v41/org/osgi/framework/Bundle.html">Bundle interface</html:a>.
                            </html:p>
                            <html:div class="roles">
                                Authorized to:
                                <html:ul>
                                    <html:li>System Administrator</html:li>
                                </html:ul>
                            </html:div>
                        </doc>
                        <response>
                            <representation mediaType="application/json"/>
                        </response>
                    </method>
                    <method name="PUT">
                        <doc>
                            <html:p>
                                An object with the key <html:code>state</html:code>
                                and the value matching one of the six bundle
                                state constant names defined by the OSGi
                                <html:a href="http://www.osgi.org/javadoc/r4v41/org/osgi/framework/Bundle.html">Bundle interface</html:a>.
                            </html:p>
                            <html:p>
                                Only setting a bundle to
                                <html:code>STARTING</html:code> or
                                <html:code>STOPPING</html:code> is supported.
                            </html:p>
                            <html:div class="roles">
                                Authorized to:
                                <html:ul>
                                    <html:li>System Administrator</html:li>
                                </html:ul>
                            </html:div>
                        </doc>
                        <request>
                            <representation mediaType="application/json"/>
                        </request>
                    </method>
                </resource>
                <resource path="services/{service-identifier}/properties">
                    <param style="template" name="service-identifier">
                        <doc>
                            <html:p>
                                Either the service's numeric ID (i.e., the OSGi
                                <html:tt>service.id</html:tt> property) or its string PID
                                (i.e., <html:tt>service.pid</html:tt>).
                            </html:p>
                        </doc>
                    </param>
                    <method name="GET">
                        <doc>
                            <html:p>
                                An object representing the current properties
                                for this service.  Period-separated heirarchical keys
                                will result in nested objects.  E.g., properties like
                                this:
                            </html:p>
                            <html:ul>
                                <html:li>a.b.c =&gt; foo</html:li>
                                <html:li>a.b.d =&gt; bar</html:li>
                                <html:li>a.e =&gt; baz</html:li>
                            </html:ul>
                            <html:p>
                                Will result in a representation like this:
                            </html:p>
                            <html:blockquote>
                                { a: { b: { c: 'foo', d: 'bar' }, e: 'baz' }
                            </html:blockquote>
                            <html:div class="roles">
                                Authorized to:
                                <html:ul>
                                    <html:li>System Administrator</html:li>
                                </html:ul>
                            </html:div>
                        </doc>
                        <response>
                            <representation mediaType="application/json"/>
                        </response>
                    </method>
                    <method name="PUT">
                        <doc>
                            <html:p>
                                A representation of the desired state of the properties
                                for this service.  OSGi reserved properties (i.e.,
                                <html:tt>objectClass</html:tt>
                                and <html:tt>service.*</html:tt>) will be ignored and may
                                be omitted.  Period-separated hierarchical keys may be
                                represented by nested objects (as the are returned with GET)
                                or by flat keys.  If a flat key and a series of nested keys
                                collide, the behavior of the resource is undefined.
                            </html:p>
                            <html:p>
                                This method is only valid for services which are subject to the
                                configuration admin service (i.e., ones which export the
                                <html:tt>ManagedService</html:tt> interface).
                            </html:p>
                            <html:p>
                                The response is a representation of the properties after immediately
                                after the update is applied. OSGi services are not required to
                                expose all (or any) of the properties that have been set on them, so
                                this may not exactly reflect the input properties.  Also, since
                                property updates are asynchronous, it may not expose the new
                                values even if the service eventually will apply them.
                            </html:p>
                            <html:div class="roles">
                                Authorized to:
                                <html:ul>
                                    <html:li>System Administrator</html:li>
                                </html:ul>
                            </html:div>
                        </doc>
                        <request>
                            <representation mediaType="application/json"/>
                        </request>
                        <response>
                            <representation mediaType="application/json"/>
                        </response>
                    </method>
                </resource>
            </resource> <!-- bundles -->
            <method name="GET">
                <doc>
                    <html:p>
                        Returns an array of objects describing all the
                        installed bundles.
                    </html:p>
                    <html:div class="roles">
                        Authorized to:
                        <html:ul>
                            <html:li>System Administrator</html:li>
                        </html:ul>
                    </html:div>
                </doc>
                <response>
                    <representation mediaType="application/json"/>
                </response>
            </method>
        </resource>

      <resource path="user-actions">
          <doc>
              <html:p>
                  An action performed by a user in a certain context
                  which can be used to reference undoable changes.
              </html:p>
          </doc>

          <method name="POST">
             <doc>
                 <html:p>
                      Creates a user action.
                 </html:p>
                 <html:div class="roles">
                     Authorized to:
                     <html:ul>
                         <html:li>Public</html:li>
                     </html:ul>
                 </html:div>
              </doc>
              <request>
                  <representation mediaType="application/json"/>
                  <doc>
<html:pre class="example">
  {
    description: "Delayed 45 activities for Jo Carlson by 6 days",
    context: "{PSC}/api/v1/subjects/0000001/schedules",
    actionType: "Delay"
  }
</html:pre>
                  </doc>
              </request>
              <response>
                  <representation mediaType="application/json"/>
              </response>
          </method>
      </resource>

    </resources>

    <representation mediaType="text/xml" id="studies-xml"                  element="psc:studies"/>
    <representation mediaType="text/xml" id="study-xml"                    element="psc:study"/>
    <representation mediaType="text/xml" id="study-snapshot-xml"           element="psc:study-snapshot"/>
    <representation mediaType="text/xml" id="planned-calendar-xml"         element="psc:planned-calendar"/>
    <representation mediaType="text/xml" id="amendment-xml"                element="psc:amendment"/>
    <representation mediaType="text/xml" id="study-site-link-xml"          element="psc:study-site-link"/>
    <representation mediaType="text/xml" id="subject-assignments-xml"      element="psc:subject-assignments"/>
    <representation mediaType="text/xml" id="registration-xml"             element="psc:registration"/>
    <representation mediaType="text/xml" id="approvals-xml"                element="psc:amendment-approvals"/>
    <representation mediaType="text/xml" id="approval-xml"                 element="psc:amendment-approval"/>
    <representation mediaType="text/xml" id="schedule-xml"                 element="psc:schedule"/>
    <representation mediaType="text/xml" id="scheduled-study-segment-xml"  element="psc:scheduled-study-segment"/>
    <representation mediaType="text/xml" id="next-scheduled-study-segment-xml"  element="psc:next-scheduled-study-segment"/>
    <representation mediaType="text/xml" id="scheduled-activities-xml"     element="psc:scheduled-activities"/>
    <representation mediaType="text/xml" id="scheduled-activity-xml"       element="psc:scheduled-activity"/>
    <representation mediaType="text/xml" id="scheduled-activity-state-xml" element="psc:scheduled-activity-state"/>
    <representation mediaType="text/xml" id="activity-source-list-xml"     element="psc:sources"/>
    <representation mediaType="text/xml" id="activity-source-xml"          element="psc:source"/>
    <representation mediaType="text/xml" id="activity-xml"                 element="psc:activity"/>
    <representation mediaType="text/xml" id="site-list-xml"                element="psc:sites"/>
    <representation mediaType="text/xml" id="site-xml"                     element="psc:site"/>
    <representation mediaType="text/xml" id="blackout-dates-xml"           element="psc:blackout-dates"/>
    <representation mediaType="text/xml" id="blackout-date-xml"            element="psc:blackout-date"/>
    <representation mediaType="text/xml" id="roles-xml"                    element="psc:roles"/>
    <representation mediaType="text/xml" id="role-xml"                     element="psc:role"/>
    <representation mediaType="text/xml" id="notifications-xml"            element="psc:notifications"/>
    <representation mediaType="text/xml" id="notification-xml"             element="psc:notification"/>

    <representation mediaType="application/x-www-form-urlencoded" id="planned-activity-form">
        <param name="day" style="query" required="true">
            <doc>
                The one-based day for the planned activity, relative to the period.
                For example, say you have a 7 day period starting on day 21
                of the segment and repeating 3 times.  If you want this planned
                activity to occur on day 24, 31, and 38 of the segment, you'd specify
                the day as 4.
            </doc>
        </param>
        <param name="activity-source" style="query" required="true">
            <doc>
                The name of the source for the activity for this planned activity.
            </doc>
        </param>
        <param name="activity-code" style="query" required="true">
            <doc>
                The code for the activity for this planned activity.
            </doc>
        </param>
        <param name="details" style="query">
            <doc>
                The additional details for this planned activity (beyond the activity itself).
                May be omitted.
            </doc>
        </param>
        <param name="condition" style="query">
            <doc>
                The condition under which this activity should be performed.  If it should
                be performed for all subjects (or all subjects in the specified population),
                omit this parameter.
            </doc>
        </param>
        <param name="label" style="query">
            <doc>
                A single label for this planned activity.  This parameter may be repeated
                for multiple labels.  A simple label parameter would look like
                <html:code>label=soc</html:code>.  To restrict the label to only certain
                repetitions of the period to which this planned activity belongs, append
                a semi-colon and list the repetitions separated by whitespace:
                <html:code>label=soc;1 3 5</html:code>.  No labels are required.
            </doc>
        </param>
        <param name="population" style="query">
            <doc>
                The abbreviation for the population for which this planned activity applies.
                Omit to apply to apply to all subjects.
            </doc>
        </param>
    </representation>

</application>
