grid/introduce/study-service/schema/StudyService/StudyService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://grid.studycalendar.bioinformatics.northwestern.edu/StudyService" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns:gtwsdl1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ServiceGroup-1.2-draft-01.wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" xmlns:wsrbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns0="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" xmlns:ns3="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" xmlns:ns1="http://grid.studycalendar.bioinformatics.northwestern.edu/StudyService/types" xmlns:ns0="http://bioinformatics.northwestern.edu/ns/psc" xmlns:ns2="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" name="StudyService" targetNamespace="http://grid.studycalendar.bioinformatics.northwestern.edu/StudyService">
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" location="../wsrf/faults/WS-BaseFaults.wsdl" />
  <import namespace="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" location="./ServiceSecurity.wsdl" />
  <!--============================================================

                      T Y P E S
                      
  ============================================================-->
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsrbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" targetNamespace="http://grid.studycalendar.bioinformatics.northwestern.edu/StudyService" elementFormDefault="qualified" attributeFormDefault="unqualified">
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="../wsrf/faults/WS-BaseFaults.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" schemaLocation="./cagrid/types/caGridMetadata.xsd" />
      <import namespace="http://grid.studycalendar.bioinformatics.northwestern.edu/StudyService/types" schemaLocation="./StudyServiceTypes.xsd" />
      <import namespace="http://bioinformatics.northwestern.edu/ns/psc" schemaLocation="./study.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" schemaLocation="./xsd/security.xsd" />
      <element name="RetrieveStudyByAssignedIdentifierRequest">
        <complexType>
          <sequence>
            <element name="assignedIdentifier" type="xs:string" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="RetrieveStudyByAssignedIdentifierResponse">
        <complexType>
          <sequence>
            <element ref="ns0:study" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="CreateStudyRequest">
        <complexType>
          <sequence>
            <element name="study">
              <complexType>
                <sequence>
                  <element ref="ns0:study" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="CreateStudyResponse">
        <complexType>
          <sequence>
            <element ref="ns0:study" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="StudyServiceResourceProperties">
        <complexType>
          <sequence>
            <element ref="ns3:ServiceMetadata" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <!--  place service messages here -->
  <message name="RetrieveStudyByAssignedIdentifierRequest">
    <part name="parameters" element="tns:RetrieveStudyByAssignedIdentifierRequest" />
  </message>
  <message name="RetrieveStudyByAssignedIdentifierResponse">
    <part name="parameters" element="tns:RetrieveStudyByAssignedIdentifierResponse" />
  </message>
  <message name="CreateStudyRequest">
    <part name="parameters" element="tns:CreateStudyRequest" />
  </message>
  <message name="CreateStudyResponse">
    <part name="parameters" element="tns:CreateStudyResponse" />
  </message>
  <message name="StudyDoesNotExistsFaultMessage">
    <part name="fault" element="ns1:StudyDoesNotExists" />
  </message>
  <message name="StudyAlreadyExceptionFaultMessage">
    <part name="fault" element="ns1:StudyAlreadyException" />
  </message>
  <!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
  <portType name="StudyServicePortType" wsrp:ResourceProperties="tns:StudyServiceResourceProperties">
    <operation name="retrieveStudyByAssignedIdentifier">
      <input message="tns:RetrieveStudyByAssignedIdentifierRequest" wsa:Action="http://grid.studycalendar.bioinformatics.northwestern.edu/StudyService/RetrieveStudyByAssignedIdentifierRequest" />
      <output message="tns:RetrieveStudyByAssignedIdentifierResponse" wsa:Action="http://grid.studycalendar.bioinformatics.northwestern.edu/StudyService/RetrieveStudyByAssignedIdentifierResponse" />
      <fault name="StudyDoesNotExists" message="tns:StudyDoesNotExistsFaultMessage" wsa:Action="http://grid.studycalendar.bioinformatics.northwestern.edu/StudyService/StudyDoesNotExistsFaultMessage" />
    </operation>
    <operation name="createStudy">
      <input message="tns:CreateStudyRequest" wsa:Action="http://grid.studycalendar.bioinformatics.northwestern.edu/StudyService/CreateStudyRequest" />
      <output message="tns:CreateStudyResponse" wsa:Action="http://grid.studycalendar.bioinformatics.northwestern.edu/StudyService/CreateStudyResponse" />
      <fault name="StudyAlreadyException" message="tns:StudyAlreadyExceptionFaultMessage" wsa:Action="http://grid.studycalendar.bioinformatics.northwestern.edu/StudyService/StudyAlreadyExceptionFaultMessage" />
    </operation>
    <operation name="GetResourceProperty">
      <input name="GetResourcePropertyRequest" message="wsrpw:GetResourcePropertyRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourceProperty" />
      <output name="GetResourcePropertyResponse" message="wsrpw:GetResourcePropertyResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourcePropertyResponse" />
      <fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
      <fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
    </operation>
    <operation name="GetMultipleResourceProperties">
      <input name="GetMultipleResourcePropertiesRequest" message="wsrpw:GetMultipleResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties" />
      <output name="GetMultipleResourcePropertiesResponse" message="wsrpw:GetMultipleResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties" />
      <fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
      <fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
    </operation>
    <operation name="QueryResourceProperties">
      <input name="QueryResourcePropertiesRequest" message="wsrpw:QueryResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourceProperties" />
      <output name="QueryResourcePropertiesResponse" message="wsrpw:QueryResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourcePropertiesResponse" />
      <fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
      <fault name="UnknownQueryExpressionDialectFault" message="wsrpw:UnknownQueryExpressionDialectFault" />
      <fault name="InvalidQueryExpressionFault" message="wsrpw:InvalidQueryExpressionFault" />
      <fault name="QueryEvaluationErrorFault" message="wsrpw:QueryEvaluationErrorFault" />
    </operation>
    <operation name="getServiceSecurityMetadata">
      <input message="wns0:GetServiceSecurityMetadataRequest" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataRequest" />
      <output message="wns0:GetServiceSecurityMetadataResponse" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataResponse" />
    </operation>
  </portType>
</definitions>

